///
/// Fractal by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Main */

	#main {
		@include padding(4em, 0);

		// Small.
			@include breakpoint('<=small') {
				@include padding(3em, 0);
			}

	}

#gallery ul { width: 90%; margin: auto; padding: 0; list-style: none; overflow: hidden; }
#gallery ul li { width: 350px; margin: auto; padding: 0; float: left; margin: 5px; }
#gallery ul li img { width: 350px; height: auto; padding: 5px; } 
